.notifications {
  min-height: 90vh;
  background-color: #1e2030;
  margin-top: 60px;
  padding: 27px 29px 0 24px;
  display: flex;
  justify-content: center;
}

.notifications>.container {
  width: 375px;
}

.switch-container> .bottom-line {
  margin-bottom: 35px !important;
}

.notification {
  margin-bottom: 40px;
  color: #80828F;
}

.notification-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: 'Rajdhani-semibold';
  font-weight: 600;
}

.notification-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.notification-title.plain {
  color: #fff;
}

.notification-title.plain:hover {
  color: #fff;
}

.notification-title:hover, .link-title:hover {
  color: #6BC909;
  cursor: pointer;
}

.notification-title-color {
  color: #6BC909 !important;
}

.notification-content {
  line-height: 24px;
  font-size: 16px;
  color: #80828F;
}

.notification-date {
  font-weight: 600;
  margin-top: 12px;
}

.notification-link {
  text-decoration: auto;
}

.link-title {
  color: #80828F
}

.link-title.focussed {
  color: #6BC909 !important;
}