.player-dashboard-container {
  color: #ABACB5;
  margin-top: 60px !important;
  max-width: 375px;
  text-align: left !important;
  padding: 20px
}

.player-dashboard-container > .fullwidth > .textinput-wrapper {
  width: 100% !important;
}

.player-dashboard-title {
  font-weight: 700;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 16px;
}

.player-dashboard-desc {
  font-weight: 400;
  font-size: 18px;
  margin: 16px 0;
}

.input-label {
  margin-top: 24px;
}

.player-dashboard-notification {
  margin-top: 40px;
}

.request-player-coin {
  background-color: #81DF0D;
  border-radius: 8px;
  width: 280px;
  height: 50px;
}

.player-dashboard-request-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.terms-conditions-check {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-conditions-desc {
  margin-left: 8px;
}

.birthday {
  display: flex;
}

.birthday > .textinput-wrapper {
  width: 90px !important;
  margin: 4px !important;
}

.player-dashboard-select > div > .MuiFormControl-root {
  width: 100%;
  margin: 8px 0 0;
  border-radius: 4px;
  background-color: #2c2f45;
}

.player-dashboard-select>div>.MuiFormControl-root > .MuiOutlinedInput-root {
  color: #abacb5;
}

.player-dashboard-select>div>.MuiFormControl-root>.MuiOutlinedInput-root > .MuiOutlinedInput-notchedOutline {
  border-color: #222435;
  border-width: 2px;
}