.bottom-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  /*padding-top: 100px;  Location of the box */
  /* padding-top: 10vh; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
  transition: 1.3s;
}

.bottom-popup.show {
  display: block;  
}

@keyframes slidein-low  {
   from {
      top:80%;
   }
   
   to {
      top:0%;
   }

}



/* Modal Content */
.bottom-popup-content {
  position: relative;
  margin-top: 160px !important;
  background-color: #222435;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1vh;
  height: calc(75vh-100px);
  margin: auto;
  min-height: min(600px,calc(100% - 160px));
  /* width: 350px; */
  
  animation-duration:0.3s;
  animation-name:slidein-low;
}


@media only screen and (min-width: 992px) {
  .bottom-popup-content {
    width: 375px;
  }
}

@media only screen and (min-width: 992px) {
  .bottom-popup-content {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .bottom-popup-content {
    width: 375px;
  }
}

/* @media only screen and (max-width: 600px) {
  .bottom-popup-content {
    width: 375px;
  }
}

@media only screen and (max-width: 360px) {
  .bottom-popup-content {
    width: 375px;
  }
} */
@media only screen and (max-width: 420px) {
  .bottom-popup-content {
    min-height: calc(100% - 160px);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
} 