/* #purchase-modal {
    backdrop-filter: blur(5px);
}

@media only screen and (min-width: 992px) {
  #purchase-modal {
    height: calc(100% - 165px);
  }
} */

/* @media only screen and (min-width: 768px) {
    #purchase-modal {
        height: calc(100% - 68vh) !important;
      }
}  */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  /*padding-top: 100px;  Location of the box */
  /* padding-top: 10vh; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
}

.modal.show {
  display: block;
}


/* Modal Content */
.modal-content {
  position: relative;
  margin-top: 60px !important;
  margin: auto;
  background-color: #212435;
  border-radius: 20px;
  height: 75vh;
  margin: auto;
  min-height: 600px;
  width: 350px;
}

.modal-content > .purchase-container {
  width: 100%;
}

.modal-content > .purchase-container > .purchase-wrappper {
  width: 100%;
}


.modal-content > .purchase-container > .purchase-wrappper > .player-title-bar {
  width: 100%;
}

.modal-content > .purchase-container > .purchase-wrappper > form {
  width: 100%;
}


.modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form {
  width: 100%;
  /* padding: 0px 24px; */
}

.modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper {
  width: 100%;
}

.modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper > .pricing-list-group > {
  width: 100%;
}

.modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper > .pricing-list-group > .pricing-list-item {
  width: 327px;
}

.modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .form-label-wrapper {
  width: 327px;
}


.modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .input-box {
  width: 327px;
}
/* The Close Button */
.close {
  color: #171923;
  /* float: right;
  margin-right: 3vw;
  font-size: 28px;
  font-weight: bold;
  margin-top: 24px; */
  position: absolute;
  /* right: 15px; */
  /* right: -15vw; */
  right: -40px;
  /* top: 76px; */
  /* top: -11px; */
  top: 0px;
  z-index: 100;
  font-size: 28px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 25px;
  width: 25px;
  border: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .modal-content {
    width: 375px;
  }
}

@media only screen and (min-width: 992px) {
  .modal-content {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .modal-content {
    width: 375px;
  }
  .modal-content > .purchase-container > .purchase-wrappper > .player-title-bar > .player-title-wrapper > .player-text-container {
    /* margin: 0 1vw; */
    margin: 0 7%;
    /* width: 100%; */
  }
  
  
}

@media only screen and (max-width: 600px) {
  .modal-content {
    /* width: 375px; */
    /* width: 95vw; */
    width: 375px;
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form {
    /* padding: 0 3vw; */
    /* padding: 0 24px; */
    padding: 0 6vw;
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper > .pricing-list-group > .pricing-list-item {
    /* width: 100%; */
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .form-label-wrapper {
    /* width: 100%; */
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .input-box {
    /* width: 100%; */
  }
}

@media only screen and (max-width: 360px) {
  .modal-content {
    width: 375px;
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .input-box {
    /* width: 89vw; */
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .purchase-form > .form-label-wrapper {
    /* width: 87vw; */
  }
  .modal-content > .purchase-container > .purchase-wrappper > .player-title-bar > .player-title-wrapper > svg {
    margin: 22px 10px 22px 10px
  }
  .modal-content > .purchase-container > .purchase-wrappper > .player-title-bar > .icon-color {
    margin: 10px
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper {
    padding: 0px 3vw;
  }
  .modal-content > .purchase-container > .purchase-wrappper > form > .pricing-summary-wrapper > .pricing-list-group > .pricing-list-item {
    /* width: 100%; */
    width: 89vw;
  }
}

@media only screen and (min-width: 360px) {
  section .dlg-content {
      overflow-y: auto;
      margin-bottom: 10px;
  }

  section .dlg-content::-webkit-scrollbar {
      background: #B8B6B5;
      width: 3px;
  }

  section .dlg-content::-webkit-scrollbar-thumb {
      background: #5d5c5c;
  }
}

