.loading-spinner-container {
  width: 100%;
  display: none;
  justify-content: center;
  height: 50px;
  /* padding: 20px; */
}

.loading-spinner.wallet-waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner.hidden {
  display: none !important;
}

.loading-spinner-container.show {
    display: flex
}

.form-submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 60px;
    position: static;
    width: 280px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #81DF0D;
    border: 1px solid #81DF0D;
    box-sizing: border-box;
    border-radius: 8px;
    flex: none;
    order: 0;
    margin: 0px 16px;
    cursor: pointer;
    font-family: 'Rajdhani-semibold';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    color: #171923;
    line-height: 125%;
}

.form-submit-btn.hide {
    display: none !important;
}

.form-submit-btn.verify-btn {
  display: unset;
  padding: unset;
}
.form-submit-btn.btn-disabled {
background: none;
color: #81DF0D;
cursor: default;
}

@media only screen and (max-width: 360px) {
  .form-submit-btn {
    width: 250px;
  }
}